@font-face {
  font-family: 'Showtime';
  src: url('./Showtime-R9Ke.ttf');
}

* {
  margin: 0;
}

:root {
  font-size: 20px;
  height: 100%;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  background: url('restaurant.jpg');
  background-size: cover;
  display: grid;
  gap: 30px;
  grid-template-rows: auto auto auto 1fr auto;
  justify-items: center;
  align-items: center;
  height: 100%;
}

.logo {
  color: white;
  font-family: 'Showtime', sans-serif;
  font-size: 3rem;
  margin-top: 30px;
}

.nav {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
}

.nav button {
  padding: 5px 10px;
  border-radius: 10px;
  font-size: 1.2rem;
  background-color: #F4A261;
}

#content {
  width: max-content;
  border-radius: 50px;
  background-color: rgba(244, 162, 97, 0.9);
  display: grid;
  justify-items: center;
  padding: 100px;
  gap: 30px;
}

.wrapper {
  display: grid;
  grid-template-columns: min-content 1fr;
  gap: 30px;
}

.svg {
  height: 24px;
}

.footer {
  background-color: #F4A261;
  text-align: center;
  width: 100%;
  padding: 10px 0;
}

.footer a {
  color: #000;
}