@font-face {
  font-family: 'Showtime';
  src: url('./Showtime-R9Ke.ttf');
}

@font-face {
  font-family: 'San Andreas';
  src: url('./san-andreas.otf');
}

* {
  margin: 0;
}

:root {
  font-size: 20px;
  height: 100%;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  background: url('./img/restaurant.jpg');
  background-size: cover;
  display: grid;
  gap: 30px;
  grid-template-rows: auto auto auto 1fr auto;
  justify-items: center;
  align-items: center;
  height: 100%;
}

.logo {
  color: white;
  font-family: 'Showtime', sans-serif;
  font-size: 3rem;
  margin-top: 30px;
}

.nav {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
}

.nav button {
  padding: 5px 10px;
  border-radius: 10px;
  font-size: 1.2rem;
  background-color: #F4A261;
}

#content {
  border-radius: 50px;
  background-color: rgba(244, 162, 97, 0.9);
  justify-items: center;
  padding: 50px;
}

blockquote {
  font-family: 'San Andreas';
}

.contact-wrapper {
  display: grid;
  grid-template-columns: min-content min-content;
  gap: 30px;
}

h3 {
  text-align: center;
  padding: 30px 0;
  font-size: 1.5rem;
}

.menu-wrapper {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-items: center;
  text-align: center;
  gap: 0 10px;
}

.menu-item {
  width: 310px;
}

.menu-item img {
  height: 200px;
  margin-bottom: 10px;
  border-radius: 50%;
}

.svg {
  height: 24px;
}

.footer {
  background-color: #F4A261;
  text-align: center;
  width: 100%;
  padding: 10px 0;
}

.footer a {
  color: #000;
}